# artifacts (runtime outputs)
artifacts/
**/artifacts/

# colcon build outputs
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# python
__pycache__/
*.pyc
.venv/
venv/

# editor / os
.vscode/
.DS_Store

# kernel module build outputs
board_drivers/**/*.o
board_drivers/**/*.ko
board_drivers/**/*.mod
board_drivers/**/*.mod.c
board_drivers/**/*.mod.o
board_drivers/**/.*.cmd
board_drivers/**/.module-common.o
board_drivers/**/Module.symvers
board_drivers/**/modules.order
